.header-top,
.header-lower {
    font-family: var(--family-two) !important;
}
.header-top p {
    color: white;
    font-size: 0.938rem;
    line-height: 1.563rem;
    font-weight: 400;
    margin: 0px;
}
.header-top .get_a_quote {
    color: white;
    font-size: 0.938rem;
    line-height: 1.625rem;
    font-weight: 400;
    margin-bottom: 0.125rem;
    border-radius: 0.313rem;
    background-color: var(--primary-color-one);
    padding: 0.125rem 1rem;
}
.header-top .get_a_quote:dir(rtl) {
    margin-left: 0.938rem;
}
.header-top .get_a_quote:dir(ltr) {
    margin-right: 0.938rem;
}
.header-top ul li {
    color: white !important;
    font-size: 0.938rem !important;
    line-height: 1.563rem;
    font-weight: 400;
    margin: 0px;
}
.header-top ul li a {
    color: white !important;
}
.header-lower ul li {
    margin: 0px;
}
.header-lower ul li a,
.header-lower ul li .dropdown a span {
    line-height: 1.625rem;
    font-weight: 500;
    color: var(--text-color-dark-one);
    font-family: var(--family-one);
    transition: 0.5s ease-in-out;
}
[dir="ltr"] {
    .header-lower ul li a,
    .header-lower ul li .dropdown a span {
        font-weight: 500;
        font-size: 1.063rem !important;
    }
}
[dir="rtl"] {
    .header-lower ul li a,
    .header-lower ul li .dropdown a span {
        font-weight: 500;
        font-size: 0.938rem !important;
    }
}
.header-lower ul li .dropdown .list a {
    font-family: var(--family-two) !important;
    font-weight: normal;
    font-size: 0.938rem !important;
}
.header-lower ul li:hover .header-lower ul li a,
.header-lower ul li .dropdown span,
.header-lower ul li .dropdown button svg {
    transition: all 0.3s;
}
@media (min-width: 768px) {
    .header-lower .logo {
        width: 9.375rem;
        /* width: 10.625rem; */
        height: auto;
    }
}
@media (max-width: 767px) {
    .header-lower .logo {
        width: 7.375rem;
        height: auto;
        /* width: 9.375rem;
        height: 3.125rem; */
    }
}
@media (max-width: 960px) {
    .mobile a {
        line-height: 1.625rem;
        font-weight: 500;
        color: var(--text-color-dark-one);
        font-family: var(--family-one);
        transition: 0.5s ease-in-out;
    }
    [dir="ltr"] {
        .mobile a {
            font-weight: 600;
            font-size: 1.063rem !important;
        }
    }
    [dir="rtl"] {
        .mobile a {
            font-weight: 500;
            font-size: 1rem !important;
        }
    }
    .mobile .menu a {
        font-family: var(--family-two) !important;
        font-weight: normal;
        font-size: 0.938rem !important;
    }
}