.pricing-plan {
  &.type-one {
    position: relative;
    transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    .tag {
      width: calc(100% - 3.75rem);
      background-color: var(--color-primary-one);
      color: white;
    }
    .pricing-plan-inner {
      position: relative;
      overflow: hidden;
      z-index: 0;
      background-color: white;
      &::before {
        position: absolute;
        content: "";
        width: 0%;
        height: 100%;
        top: 0;
        background: var(--heading-dark);
        border-radius: 0.375rem;
        opacity: 1;
        z-index: -1;
        transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
      }
      // LTR specific styles
      [dir="ltr"] & {
        &::before {
          right: -30px;
          left: auto;
        }
        &:hover {
          &::before {
            width: calc(100% + 3.75rem);
            left: -30px;
          }
        }
      }
      // RTL specific styles
      [dir="rtl"] & {
        &::before {
          left: -30px;
          right: auto;
        }
        &:hover {
          &::before {
            width: calc(100% + 3.75rem);
            right: -30px;
          }
        }
      }
      .upper-plan {
        position: relative;
        text-align: center;
        border-bottom: 1px dashed rgba(34, 34, 34, 0.1);
        transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        h2 {
          display: block;
          line-height: 32px;
          font-weight: 700;
          color: var(--heading-dark);
          transition: all 0.6s ease;
          -moz-transition: all 0.6s ease;
          -webkit-transition: all 0.6s ease;
          -ms-transition: all 0.6s ease;
          -o-transition: all 0.6s ease;
        }
        .price {
          margin-top: 0.938rem;
          position: relative;
          h6 {
            font-size: 1rem !important;
            line-height: 32px;
            font-weight: 700;
            text-align: center;
            color: var(--heading-dark);
            transition: all 0.6s ease;
            -moz-transition: all 0.6s ease;
            -webkit-transition: all 0.6s ease;
            -ms-transition: all 0.6s ease;
            -o-transition: all 0.6s ease;
            small {
              font-size: 2rem;
              line-height: 32px;
              font-weight: 700;
              color: var(--primary-color-one);
            }
          }
        }
      }
      .lower-plan {
        position: relative;
        margin-bottom: 1.563rem;
        transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -webkit-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        ul {
          li {
            position: relative;
            margin-bottom: 0.625rem;
            line-height: 28px;
            font-size: 1rem;
            color: var(--text-color-dark-one);
          }
        }
      }
      &:hover {
        // &::before {
        //   width: calc(100% + 3.75rem);
        // }
        .upper-plan {
          border-color: var(--text-color-dark-one);
          h2 {
            color: white !important;
          }
          .price {
            h6 {
              color: var(--border-color-dark) !important;
            }
          }
          p {
            color: var(--border-color-dark);
          }
        }
        .lower-plan {
          ul {
            li {
              color: var(--border-color-dark);
              transition: all 0.6s ease;
              -moz-transition: all 0.6s ease;
              -webkit-transition: all 0.6s ease;
              -ms-transition: all 0.6s ease;
              -o-transition: all 0.6s ease;
            }
          }
        }
      }
    }
  }
  &.type-two {
    .tag {
      background-color: white;
      color: var(--color-primary-one) !important;
    }
    .pricing-plan-inner {
      background-color: var(--color-primary-two) !important;
      &::before {
        background-color: var(--color-primary-one) !important;
        border-color: var(--color-primary-one) !important;
      }
      .upper-plan {
        border-color: #ffffff36 !important;
        h2 {
          color: white !important;
        }
        .price {
          h6 {
            color: white !important;
            small {
              color: var(--color-primary-one) !important;
            }
          }
        }
        p {
          color: white !important;
        }
      }
      .lower-plan {
        ul {
          li {
            color: white;
            svg {
              color: #ffffff4a !important;
            }
          }
        }
      }
      &:hover {
        .upper-plan {
          border-color: #ffffff36 !important;
          .price {
            h6 {
              color: white !important;
              small {
                color: white !important;
              }
            }
          }
        }
        .lower-plan {
          ul {
            li {
              color: white;
              svg {
                color: #ffffff4a !important;
                // color: var(--color-light-gray) !important;
              }
            }
          }
        }
      }
    }
  }
}
